<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <img>
    <h1><%= title %></h1>
    <p id="welcomeText">Welcome to <%= title %></p>
    <img src="./images/pandamonium.png" alt="panda">
  </body>
</html>
